body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    text-align: left;
    background-color: #110110;
    margin-top: auto;
}

.navbar {
    background-color: #110110;
}
/* Start: Video Responsive */
.video-responsive {
    overflow:hidden;
    padding-bottom:600px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border:2px solid rgb(0, 0, 0); 
}
/* End: Video Responsive */
