{% extends "base.html" %}
{% load static %}

{% block title %}Borrar cuenta usuario{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <br>  
        <div class = "row">
            <div class = "d-flex col-12 col-sm-10 col-md-8 offset-md-2 offset-sm-1 justify-content-around">
            <div class = "card shadow-lg border-dark" style="max-width: 30rem; min-width: 20rem;">
                <div class = "card-header font-weight-bold text-center" style="background-color:#c7d1d691"> <h4><i>Borrar Cuenta Usuario</i></h4></div>
                <div class = "card-body text-dark">
                <form method="post" action="" >
                    {% csrf_token %}
                    <p class="text-center">¿Está seguro que quiere eliminar su cuenta de usuario ?</p>
                    <br>
                    <button type="submit" class="btn btn-danger btn-block">Eliminar</button>
                    <a class="btn btn-primary btn-block" type="button" href="{% url 'home' %}">Cancelar</a>
                </form>
                </div>
            </div>

            </div>
        </div>

        <br>
        <br>
    </div>
{% endblock %}


{% block JavaScript%}
{% endblock %}