{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}


  <div class="container">
    <br>  
    <div class = "row">
        <div class = "d-flex col-12 col-sm-10 col-md-8 offset-md-2 offset-sm-1 justify-content-around">
          <div class = "card shadow-lg border-dark" style="max-width: 30rem; min-width: 20rem;">
            <div class = "card-header font-weight-bold text-center" style="background-color:#c7d1d691"> <h4><i>Iniciar Sesión</i></h4></div>
            <div class = "card-body text-dark">
              <form method="post" action="{% url 'login_usuario' %}">
                {% csrf_token %}  {%comment%} "{% csrf_token %}" Genera un token único por cada petición, de tal manera que nadie pueda falsificar
                                  la solicitud para el sitio web ya que los falsificadores no poseerán este token, y la aplicación dará un error. 
                                  Bueno para cualquier plantilla que use formularios POST{% endcomment %}
                
                {{form}}
                <br>
                <button class="btn btn-md btn-primary btn-block" type="submit">Iniciar Sesión</button>
                <br>
              </form>
              <p>Todavía no tienes cuenta. <a href="{% url 'registro_usuario' %}">Registrar cuenta</a> </p>
              {% if form.errors %}
              <p style="color:#f80000">Tu usuario o contraseña son incorrectos. Por favor inténtalo de nuevo.</p>
              {% endif %}
          
              {% if next %}
                {% if user.is_authenticated %}
                <p>Tu cuenta no tiene acceso a esta página. Para seguir,
                inicie sesión con una cuenta que tenga acceso.</p>
                {% else %}
                <p class = "text-info">Por favor, inicia sesión para poder usar la aplicación.</p>
                {% endif %}
              {% endif %}
            </div>
          </div>

        </div>
    </div>


  
  
    <br>
  </div>

  {# Assumes you setup the password_reset view in your URLconf #}
 {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p> #} 

{% endblock %}