<script type="application/javascript">

    {%if listaInfoPostRecientes%}
        Highcharts.chart('container-likes', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Likes últimas publicaciones'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimas 20 publicaciones',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 25,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Likes'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Publicación {point.x} => {point.y} likes'
            },
            series: [{
                name: 'Likes',
                showInLegend: true,
                color:'#e70000',
                data: [{% for l in listaInfoPostRecientes%}{{l.likes}}, {%endfor%}],
                pointStart: 1
            }]
            });

            Highcharts.chart('container-comentarios', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Comentarios últimas publicaciones'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimas 20 publicaciones',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 25,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Comentarios'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Publicación {point.x} => {point.y} comentarios'
            },
            series: [{
                name: 'Comentarios',
                showInLegend: true,
                color:'#2e09d3',
                data: [{% for l in listaInfoPostRecientes%}{{l.comentarios}}, {%endfor%}],
                pointStart: 1
            }]
            });
    {%endif%}
        

    {%if listaInfoVideos%}
        Highcharts.chart('container-likes-videos', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Likes y Visulaizaciones últimos vídeos'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimos 20 vídeos',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 25,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Likes y Visualizaciones'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Vídeo {point.x} => {point.y}'
            },
            series: [
                {
                    name: 'Visualizaciones',
                    showInLegend: true,
                    color:'#00e68e',
                    data: [{% for l in listaInfoVideos%}{{l.reproducciones}}, {%endfor%}],
                    pointStart: 1
                },
                {
                    name: 'Likes',
                    showInLegend: true,
                    color:'#e70000',
                    data: [{% for l in listaInfoVideos%}{{l.likes}}, {%endfor%}],
                    pointStart: 1
                }]
            });
    
            Highcharts.chart('container-comentarios-videos', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Comentarios últimos vídeos'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimos 20 vídeos',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                y: 25,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Comentarios'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Vídeo {point.x} => {point.y} comentarios'
            },
            series: [{
                name: 'Comentarios',
                showInLegend: true,
                color:'#2e09d3',
                data: [{% for l in listaInfoVideos%}{{l.comentarios}}, {%endfor%}],
                pointStart: 1
            }]
            });
    {%endif%}



    {%if listaInfoPublicacionesEtiquetadas%}
            Highcharts.chart('container-likes-etiquetadas', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Likes últimas publicaciones etiquetadas'
                },
                subtitle: {
                    text: '*{{IDcuenta}}, últimas 20 publicaciones etiquetadas',
                    align: 'right',
                    verticalAlign: 'bottom'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
                },
                xAxis: {
                    tickInterval: 1,
                },
                yAxis: {
                    title: {
                    text: 'Likes'
                    }
                },
                plotOptions: {
                    area: {
                    fillOpacity: 0.25
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br />',
                    pointFormat: 'Publicación {point.x} => {point.y} likes'
                },
                series: [{
                    name: 'Likes',
                    showInLegend: true,
                    color:'#e70000',
                    data: [{% for l in listaInfoPublicacionesEtiquetadas%}{{l.likes}}, {%endfor%}],
                    pointStart: 1
                }]
                });
        
                Highcharts.chart('container-comentarios-etiquetadas', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Comentarios últimas publicaciones etiquetadas'
                },
                subtitle: {
                    text: '*{{IDcuenta}}, últimas 20 publicaciones etiquetadas',
                    align: 'right',
                    verticalAlign: 'bottom'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
                },
                xAxis: {
                    tickInterval: 1,
                },
                yAxis: {
                    title: {
                    text: 'Comentarios'
                    }
                },
                plotOptions: {
                    area: {
                    fillOpacity: 0.25
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br />',
                    pointFormat: 'Publicación {point.x} => {point.y} comentarios'
                },
                series: [{
                    name: 'Comentarios',
                    showInLegend: true,
                    color:'#2e09d3',
                    data: [{% for l in listaInfoPublicacionesEtiquetadas%}{{l.comentarios}}, {%endfor%}],
                    pointStart: 1
                }]
                });

        {%endif%}


    {%if listaInfoPostRecientes or listaInfoVideos or listaInfoPublicacionesEtiquetadas %}
        Highcharts.chart('container-imagenes-videos-sidecars', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Desglose de publicaciones'
            },
            subtitle: {
                text: '*{{IDcuenta}}, publicaciones',
                align: 'right',
                verticalAlign: 'bottom'
            },
            xAxis: {
                categories: [{%if listaInfoPostRecientes%} "Publicaciones recientes", {%endif%} {%if listaInfoVideos%} "Vídeos", {%endif%} {%if listaInfoPublicacionesEtiquetadas%} "Publicaciones etiquetadas" {%endif%}],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Publicaciones',
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ' publicaciones'
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                y: -5,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Imagenes',
                color: '#0095cf',
                showInLegend: true,
                data: [{%if listaInfoPostRecientes%} {{numeroImagenesPostRecientes}}, {%endif%} {%if listaInfoVideos%} 0, {%endif%} {%if listaInfoPublicacionesEtiquetadas%} {{numeroImagenesPublicacionesEtiquetadas}} {%endif%}],
            },{
                name: 'Videos',
                color:'#00e68e',
                showInLegend: true,
                data: [{%if listaInfoPostRecientes%} {{numeroVideosPostRecientes}}, {%endif%} {%if listaInfoVideos%} {{numeroVideos}}, {%endif%} {%if listaInfoPublicacionesEtiquetadas%} {{numeroVideosPublicacionesEtiquetadas}} {%endif%}],
            },{
                name: 'Sidecars',
                color:'#f7a902',
                showInLegend: true,
                data: [{%if listaInfoPostRecientes%} {{numeroSidecarsPostRecientes}}, {%endif%} {%if listaInfoVideos%} 0, {%endif%} {%if listaInfoPublicacionesEtiquetadas%} {{numeroSidecarsPublicacionesEtiquetadas}} {%endif%}],
            }]
        });
    {%endif%}

    </script>