{% extends "base.html" %}
{% load static %}

{% block title %}Buscador Hashtag Instagram{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class ="container-fluid ">
    <div class="row d-flex justify-content-center mt-2 mb-4 row-md-12 row-xl-12 row-sm-12 row-12 row-lg-12" >
        <div class="col-md-12 col-xl-12 col-sm-12 col-12 col-lg-12">
            <h2 class="font-weinght-bold text-center">Buscador de hashtag de Instagram </h2>
            
        </div>
    </div>
    <div class="row d-flex justify-content-center p-1 row-md-12 row-xl-12 row-sm-12 row-12 row-lg-12">
            <form class="form-inline px-1 " method ="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar" name="Buscar" id="Buscar">
                <button id="boton" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Buscar </button> 
            </form>
    </div>

    {% if buscado %}
    <p class="font-weinght-bold text-center" style="color:#f80000">Introduzca un Hashtag de Instagram</p>
    {% endif %}

    <div class="row d-flex justify-content-center pt-4 row-md-12 row-xl-12 row-sm-12 row-12 row-lg-12" >
        <div class="col-md-12 col-xl-12 col-sm-12 col-12 col-lg-12">
            <p class="font-weinght-bold text-center">Cuenta de Instagram usada para buscar:  <b><i>instaanalysistfg</b></i> </p>
        </div>
    </div>

</div>



{% endblock %}


{% block JavaScript%}

{% endblock %}