{% extends "base.html" %}
{% load static %}

{% block title %}Buscador Hashtag Instagram{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class ="container-fluid ">
    <div class="row d-flex justify-content-center mt-2 mb-4 row-md-12 row-xl-12 row-sm-12 row-12 row-lg-12" >
        <div class="col-md-12 col-xl-12 col-sm-12 col-12 col-lg-12">
            <h2 class="font-weinght-bold text-center">Buscador de hashtag de Instagram </h2>
            
        </div>
    </div>

    {% include "buscador.html" %}

    {% if buscado %}
    <p class="font-weinght-bold text-center" style="color:#f80000">Introduzca un Hashtag de Instagram</p>
    {% endif %}

    <div class="row d-flex justify-content-center pt-4 row-md-12 row-xl-12 row-sm-12 row-12 row-lg-12" >
        <div class="col-md-12 col-xl-12 col-sm-12 col-12 col-lg-12">
            {% if cuentaScrapeo == '' %}
                <p class="font-weinght-bold text-center">Cuenta de Instagram usada para buscar:  <b><i>instaanalysistfg</b></i> </p>
            {%else%}
                <p class="font-weinght-bold text-center">Cuenta de Instagram usada para buscar:  <b><i>{{cuentaScrapeo}} </b></i> </p>
            {% endif %}
        </div>
    </div>

</div>



{% endblock %}


{% block JavaScript%}

{% endblock %}