{% extends "base.html" %}
{% load static %}

{% block title %}INformacion Hashtag Instagram{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
        .resaltar {
            cursor: pointer;
            background-color: #00c271af;
            color: crimson;
        }

    </style>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-between p-4 mt-5 mb-4 row-md-6 row-xl-6 row-sm-6" style="background-color: #161616">

        <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-sm-12">
            <div class="row d-flex justify-content-between">

                <div class="card-body text-left" style="color:white">
                    <h3 class="card-text font-weinght-bold"> #{{Hashtag}}</h3>
                    <br>
                    <h6 class="card-text font-weinght-bold">Publicaciones: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Publicaciones}}</b> </i></h6>
                    <br>
                    <a type="button" class="btn btn-info"  target="_blank" href="{{info.Busqueda}}">
                        Acceder a la Búsqueda
                    </a>
                    <br><br>            
                </div>

            </div>

            <div class="row d-flex justify-content-center">
                <div class = "col-12 col-md-8 col-xl-12 col-sm-9">
                    <div class="card-body text-left" style="color:white">
                        <h5 class="card-text font-weinght-bold"> Publicaciones más populares </h5>
                    </div>

                    <div class = "table-responsive-sm " >
                        <table class="table table-dark table-striped table-borderless table-sm" id="myTable" style="max-width: 20rem; min-width: 5rem;">
                            <thead class=" text-center table-success">
                                <tr>
                                    <th onclick="sortTable(0, 'int')" style="color:black">Likes</th>
                                    <th onclick="sortTable(1, 'int')" style="color:black">Comentarios</th>
                                    <th style="color:black">Fecha</th>
                                    <th style="color:black">Enlace</th>
                                </tr>
                            </thead>
                            <tbody >
            
                                {%for l in listaInfoPosts %}
                                    <tr>
                                        <td class="text-center" style="font-size: small;">
                                            {{l.likes}}
                                        </td>
                                        <td class="text-center" style="font-size: small;">
                                            {{l.comentarios}}
                                        </td>
                                        <td class="text-center" style="font-size: x-small;">
                                            {{l.fecha}}
                                        </td> 
                                        <td class="text-center">
                                            <a type="button" target="_blank" href="{{l.url}}"><span class="fa fa-instagram " aria-hidden="true"  style="color: #00ccff9f;"></span></a>
                                        </td>  
                                    </tr>
                                
                                {%endfor%}
                                        
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            
            {#Añadir más tipos de gráficos#}
            <div class="col-12 col-md-12 col-lg-10 col-xl-6 col-sm-12">
                <br><br>
    
                <form>
                    <select name="Gráficos" class="custom-select">
                      <option selected>Elegir tipo de gráfico</option>
                      <option value="area">Área</option>
                      <option value="barras">Barras</option>
                      <option value="Otro">Otro</option>
                    </select>
                  </form>
                <br><br>
                
                {#Añadir más tipos de gráficos#}
    
                <div id ="container-likes"></div>
                <br>
                <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaLikes}}</b> </i>  &nbsp;likes de media </h6>
                <br><br><br>    
                <div id ="container-comentarios"></div>
                <br>
                <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaComentarios}}</b> </i>  &nbsp;comentarios de media </h6>
    

            
        </div>
    </div>
</div>

{% endblock %}


{% block JavaScript%}

    {% include "ordenar_tablas.html" %}

{% endblock%}