{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block content %}


<h3 class="font-weinght-bold text-center">¿Que se puede realizar en <b><i>AnalistaInstagram</i></b>?</h3>

<div class= "container pt-4 pb-4">
    <div class="video-responsive text-center">
        <iframe src="https://www.youtube.com/embed/F5zTcnPMc6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


{% endblock %}


{% block JavaScript%}
{% endblock %}