
<footer class="py-4" >
    <div class="container-fluid">
      {% if user.is_authenticated %}
      <div class="d-flex row justify-content-around ">
          <div class="col-md-4 ">
              <small class="d-block mb-3 text-muted">&copy; 2022, <a class="text-muted" href = "{% url 'home'%}">AnalistaInstagram </a></small>
          </div>

            <div class="col-6 col-md-4" style="font-size: small">
              <h6 class="text-light" style="font-size: small">¿Qué hacer?</h6>
              <ul class="nav flex-column" >
                <li class="nav-item "><a href = "{% url 'home'%}" class="p-0 text-muted">Home</a></li>
                <li class="nav-item "><a href = "{% url 'buscadorCuentas'%}" class="p-0 text-muted">Buscar Cuenta</a></li>
                <li class="nav-item "><a href = "{% url 'buscadorPost'%}" class="p-0 text-muted">Buscar Publicación</a></li>
              </ul>
            </div>

            <div class="col-6 col-md-4 " style="font-size: small">
              <h6 class="text-light" style="font-size: small">Ayuda</h6>
              <ul class="nav flex-column" >
                <li class="nav-item "><a href="{% url 'contacto'%}" class="p-0 text-muted">Contacto</a></li>
              </ul>
            </div>
        </div>
        {%else %}
          <div class="d-flex row justify-content-around text-center">
            <div class="col-md-12 ">
                <small class="d-block mb-3 text-muted">&copy; 2022, <a class="text-muted" href = "{% url 'home'%}">AnalistaInstagram </a></small>
            </div>
          </div>
        {%endif %}
    </div>
  </footer>