<script type="application/javascript">

    {%if listaInfoPostRecientes%}
        Highcharts.chart('container-likes', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Likes últimas publicaciones'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimas 20 publicaciones',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Likes'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Publicación {point.x} => {point.y} likes'
            },
            series: [{
                name: 'Likes',
                showInLegend: false,
                color:'#e70000',
                data: [{% for l in listaInfoPostRecientes%}{{l.likes}}, {%endfor%}],
                pointStart: 1
            }]
            });

            Highcharts.chart('container-comentarios', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Comentarios últimas publicaciones'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimas 20 publicaciones',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Comentarios'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Publicación {point.x} => {point.y} comentarios'
            },
            series: [{
                name: 'Comentarios',
                showInLegend: false,
                color:'#2e09d3',
                data: [{% for l in listaInfoPostRecientes%}{{l.comentarios}}, {%endfor%}],
                pointStart: 1
            }]
            });
    {%endif%}
        

    {%if listaInfoVideos%}
        Highcharts.chart('container-likes-videos', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Likes y Visulaizaciones últimos vídeos'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimos 20 vídeos',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Likes'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Vídeo {point.x} => {point.y}'
            },
            series: [
                {
                    name: 'Visualizaciones',
                    showInLegend: false,
                    color:'#00e68e',
                    data: [{% for l in listaInfoVideos%}{{l.reproducciones}}, {%endfor%}],
                    pointStart: 1
                },
                {
                    name: 'Likes',
                    showInLegend: false,
                    color:'#e70000',
                    data: [{% for l in listaInfoVideos%}{{l.likes}}, {%endfor%}],
                    pointStart: 1
                }]
            });
    
            Highcharts.chart('container-comentarios-videos', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'Comentarios últimos vídeos'
            },
            subtitle: {
                text: '*{{IDcuenta}}, últimos 20 vídeos',
                align: 'right',
                verticalAlign: 'bottom'
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                borderWidth: 1,
                backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
            },
            xAxis: {
                tickInterval: 1,
            },
            yAxis: {
                title: {
                text: 'Comentarios'
                }
            },
            plotOptions: {
                area: {
                fillOpacity: 0.25
                }
            },
            credits: {
                enabled: false
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br />',
                pointFormat: 'Vídeo {point.x} => {point.y} comentarios'
            },
            series: [{
                name: 'Comentarios',
                showInLegend: false,
                color:'#2e09d3',
                data: [{% for l in listaInfoVideos%}{{l.comentarios}}, {%endfor%}],
                pointStart: 1
            }]
            });
    {%endif%}



    {%if listaInfoPublicacionesEtiquetadas%}
            Highcharts.chart('container-likes-etiquetadas', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Likes últimas publicaciones etiquetadas'
                },
                subtitle: {
                    text: '*{{IDcuenta}}, últimas 20 publicaciones etiquetadas',
                    align: 'right',
                    verticalAlign: 'bottom'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
                },
                xAxis: {
                    tickInterval: 1,
                },
                yAxis: {
                    title: {
                    text: 'Likes'
                    }
                },
                plotOptions: {
                    area: {
                    fillOpacity: 0.25
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br />',
                    pointFormat: 'Publicación {point.x} => {point.y} likes'
                },
                series: [{
                    name: 'Likes',
                    showInLegend: false,
                    color:'#e70000',
                    data: [{% for l in listaInfoPublicacionesEtiquetadas%}{{l.likes}}, {%endfor%}],
                    pointStart: 1
                }]
                });
        
                Highcharts.chart('container-comentarios-etiquetadas', {
                chart: {
                    type: 'area'
                },
                title: {
                    text: 'Comentarios últimas publicaciones etiquetadas'
                },
                subtitle: {
                    text: '*{{IDcuenta}}, últimas 20 publicaciones etiquetadas',
                    align: 'right',
                    verticalAlign: 'bottom'
                },
                legend: {
                    layout: 'vertical',
                    align: 'left',
                    verticalAlign: 'top',
                    x: 100,
                    y: 70,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor:
                    Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
                },
                xAxis: {
                    tickInterval: 1,
                },
                yAxis: {
                    title: {
                    text: 'Comentarios'
                    }
                },
                plotOptions: {
                    area: {
                    fillOpacity: 0.25
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br />',
                    pointFormat: 'Publicación {point.x} => {point.y} comentarios'
                },
                series: [{
                    name: 'Comentarios',
                    showInLegend: false,
                    color:'#2e09d3',
                    data: [{% for l in listaInfoPublicacionesEtiquetadas%}{{l.comentarios}}, {%endfor%}],
                    pointStart: 1
                }]
                });

        {%endif%}

    </script>