{% extends "base.html" %}
{% load static %}

{% block title %}INformacion Usuario Instagram{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-between p-4 mt-5 mb-4 row-md-6 row-xl-6 row-sm-6" style="background-color: #161616">

        <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-sm-12">
            <div class="row d-flex justify-content-between">

                <div class="card-body text-left" style="color:white">
                    <h3 class="card-text font-weinght-bold"> {{IDcuenta}}</h3>
                    <h6 class="card-text font-weinght-bold">Nombre: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Nombre}}</b> </i></h6>
                    <h6 class="card-text font-weinght-bold">Verificado: &nbsp;&nbsp;                     
                        {%if info.Usuario_verificado%}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {%else%}
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        {%endif%}
                    </h6>

                    <h6 class="card-text font-weinght-bold">Usuario Privado: &nbsp;&nbsp; 
                        {%if info.Usuario_privado%}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {%else%}
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        {%endif%}
                    </h6>
                    <h6 class="card-text font-weinght-bold">Popularidad: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Popularidad}}</b> </i></h6>
                    <h6 class="card-text font-weinght-bold">Publicaciones: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Publicaciones}}</b> </i></h6>
                    <h6 class="card-text font-weinght-bold">Biografía: &nbsp;&nbsp; </h6>
                    <p class="font-italic"> <i>{{info.Biografia}}</i> </p>
                    {% if info.Website != None %}
                        <h6 class="card-text font-weinght-bold">Website: &nbsp;&nbsp; <a class="font-italic" target="_blank" href="{{info.Website}}"> {{info.Website}} </a></h6>
                    {% endif %}
                    <br>
                    <a type="button" class="btn btn-info"  target="_blank" href="{{info.Perfil}}">
                        Instagram de {{info.Nombre}}
                    </a>
                    <br><br>            
                </div>

            </div>

            <div class="row d-flex justify-content-center">
                <div class = "col-11 col-md-8 col-xl-12 col-sm-9">
                    <div class="card-body text-left" style="color:white">
                        <h5 class="card-text font-weinght-bold"> Últimas publicaciones </h5>
                    </div>

                    <div class = "table-responsive-sm ">
                        <table class="table table-dark table-striped table-borderless table-sm" style="max-width: 20rem; min-width: 5rem;">
                            <thead class=" text-center table-success">
                                <tr>
                                    <th style="color:black">Likes</th>
                                    <th style="color:black">Comentarios</th>
                                </tr>
                            </thead>
                            <tbody >
            
                                    {%for l, c in likesComentarios %}
                                        <tr>    
                                            <td class="text-center" style="font-size: small;">
                                                {{l}}
                                            </td>
                                            <td class="text-center" style="font-size: small;">
                                                {{c}}
                                            </td>
                                        </tr>
                                        
                                    {%endfor%}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-12 col-md-12 col-lg-10 col-xl-6 col-sm-12">
            <br><br>

            <form>
                <select name="Gráficos" class="custom-select">
                  <option selected>Elegir tipo de gráfico</option>
                  <option value="area">Área</option>
                  <option value="barras">Barras</option>
                  <option value="Otro">Otro</option>
                </select>
              </form>
            <br><br>
            
            {#Añadir más tipos de gráficos#}

            <div id ="container-likes"></div>
            <br>
            <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaLikes}}</b> </i>  &nbsp;likes de media </h6>
            <br><br><br>    
            <div id ="container-comentarios"></div>
            <br>
            <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaComentarios}}</b> </i>  &nbsp;comentarios de media </h6>



            
        </div>
    </div>
</div>

{% endblock %}


{% block JavaScript%}
    <script type="application/javascript">
    Highcharts.chart('container-likes', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Likes últimas publicaciones'
        },
        subtitle: {
            text: '*{{IDcuenta}}, últimas 12 publicaciones',
            align: 'right',
            verticalAlign: 'bottom'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            borderWidth: 1,
            backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
        },
        xAxis: {
            tickInterval: 1,
        },
        yAxis: {
            title: {
            text: 'Likes'
            }
        },
        plotOptions: {
            area: {
            fillOpacity: 0.5
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br />',
            pointFormat: 'Publicación {point.x} => {point.y} likes'
        },
        series: [{
            name: 'Cantidad likes',
            showInLegend: false,
            color:'#ff004c',
            data: {{likes|safe}},
            pointStart: 1
        }]
        });

        Highcharts.chart('container-comentarios', {
        chart: {
            type: 'area'
        },
        title: {
            text: 'Comentarios últimas publicaciones'
        },
        subtitle: {
            text: '*{{IDcuenta}}, últimas 12 publicaciones',
            align: 'right',
            verticalAlign: 'bottom'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            borderWidth: 1,
            backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
        },
        xAxis: {
            tickInterval: 1,
        },
        yAxis: {
            title: {
            text: 'Comentarios'
            }
        },
        plotOptions: {
            area: {
            fillOpacity: 0.5
            }
        },
        credits: {
            enabled: false
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br />',
            pointFormat: 'Publicación {point.x} => {point.y} comentarios'
        },
        series: [{
            name: 'Cantidad comentarios',
            showInLegend: false,
            color:'#2e09d3',
            data: {{comentarios|safe}},
            pointStart: 1
        }]
        });
    </script>

{% endblock%}