{% extends "base.html" %}
{% load static %}

{% block title %}INformacion Usuario Instagram{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <style>
        .resaltar {
            cursor: pointer;
            background-color: #00c271af;
            color: crimson;
        }

    </style>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-between p-4 mt-5 mb-4 row-md-6 row-xl-6 row-sm-6" style="background-color: #161616">

        <div class="col-12 col-md-10 col-lg-8 col-xl-6 col-sm-12">
            <div class="row d-flex justify-content-between">

                <div class="card-body text-left" style="color:white">
                    <h3 class="card-text font-weinght-bold"> {{IDcuenta}}</h3>
                    <p>
                    {% if info.Nombre != None %}
                        <h6 class="card-text font-weinght-bold">Nombre: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Nombre}}</b> </i></h6>
                    {% endif %}
                    <h6 class="card-text font-weinght-bold">Verificado: &nbsp;&nbsp;                     
                        {%if info.Usuario_verificado%}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {%else%}
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        {%endif%}
                    </h6>

                    <h6 class="card-text font-weinght-bold">Usuario Privado: &nbsp;&nbsp; 
                        {%if info.Usuario_privado%}
                            <i class="fa fa-check-circle text-success" aria-hidden="true"></i>
                        {%else%}
                            <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
                        {%endif%}
                    </h6>
                    <h6 class="card-text font-weinght-bold">Popularidad: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Popularidad}}</b> </i></h6>
                    <h6 class="card-text font-weinght-bold">Publicaciones: &nbsp;&nbsp; <i class="font-italic"> <b>{{info.Publicaciones}}</b> </i></h6>
                    {% if info.Telefono != None %}
                        <h6 class="card-text font-weinght-bold">Telefono: &nbsp;&nbsp; {{info.Telefono}} </h6>
                    {% endif %}

                    {% if info.Email != None %}
                        <h6 class="card-text font-weinght-bold">Correo: &nbsp;&nbsp; {{info.Email}} </h6>
                    {% endif %}

                    {% if info.Biografia != None %}
                        <h6 class="card-text font-weinght-bold">Biografía: &nbsp;&nbsp; </h6>
                        <p class="font-italic"> <i>{{info.Biografia}}</i> </p>
                    {% endif %}

                    {% if info.Website != None %}
                        <h6 class="card-text font-weinght-bold">Website: &nbsp;&nbsp; <a class="font-italic" target="_blank" href="{{info.Website}}"> {{info.Website}} </a></h6>
                    {% endif %}
                    <br>
                    <a type="button" class="btn btn-info"  target="_blank" href="{{info.Perfil}}">
                        Acceder a su Instagram
                    </a>
                    <br><br>            
                </div>

            </div>

            <div class="row d-flex justify-content-center">
                <div class = "col-12 col-md-8 col-xl-12 col-sm-9">
                    <div class="card-body text-left" style="color:white">
                        <h5 class="card-text font-weinght-bold"> Últimas publicaciones </h5>
                    </div>

                    <div class = "table-responsive-sm ">
                        <table class="table table-dark table-striped table-borderless table-sm"  id="myTable" style="max-width: 20rem; min-width: 5rem;">
                            <thead class=" text-center table-success">
                                <tr>
                                    <th onclick="sortTable(0, 'int')" style="color:black">Likes</th>
                                    <th onclick="sortTable(1, 'int')" style="color:black">Comentarios</th>
                                    <th style="color:black">Fecha</th>
                                    <th style="color:black">Enlace</th>
                                </tr>
                            </thead>
                            <tbody >
                                {%for l in listaInfoPosts %}
                                    <tr>
                                        <td class="text-center" style="font-size: small;">
                                            {{l.likes}}
                                        </td>
                                        <td class="text-center" style="font-size: small;">
                                            {{l.comentarios}}
                                        </td>
                                        <td class="text-center" style="font-size: x-small;">
                                            {{l.fecha}}
                                        </td> 
                                        <td class="text-center">
                                            <a type="button" target="_blank" href="{{l.url}}"><span class="fa fa-instagram " aria-hidden="true"  style="color: #00ccff9f;"></span></a>
                                        </td>  
                                    </tr>
                                {%endfor%}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="col-12 col-md-12 col-lg-10 col-xl-6 col-sm-12">
            <br><br>

            <form>
                <select name="Gráficos" class="custom-select">
                  <option selected>Elegir tipo de gráfico</option>
                  <option value="area">Área</option>
                  <option value="barras">Barras</option>
                  <option value="Otro">Otro</option>
                </select>
              </form>
            <br><br>
            
            {#Añadir más tipos de gráficos#}

            <div id ="container-likes"></div>
            <br>
            <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaLikes}}</b> </i>  &nbsp;likes de media </h6>
            <br><br><br>    
            <div id ="container-comentarios"></div>
            <br>
            <h6 class="card-text font-weinght-bold" style="color:white"><i class="font-italic"> <b>{{mediaComentarios}}</b> </i>  &nbsp;comentarios de media </h6>



            
        </div>
    </div>
</div>

{% endblock %}


{% block JavaScript%}
<script>
    $(document).ready(() => {
        $('th').each(function(columna) {
            $(this).hover(function() {
                $(this).addClass('resaltar');
            }, function() {
                $(this).removeClass('resaltar');
            });

            });
        });
    /**
     * Funcion para ordenar una tabla... tiene que recibir el numero de columna a
     * ordenar y el tipo de orden
     * @param int n
     * @param str type - ['str'|'int']
     */
    function sortTable(n,type) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
     
      table = document.getElementById("myTable");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc";
     
      /*Make a loop that will continue until no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare, one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place, based on the direction, asc or desc:*/
          if (dir == "asc") {
            if ((type=="int" && parseFloat(x.innerHTML) > parseFloat(y.innerHTML))) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if ((type=="int" && parseFloat(x.innerHTML) < parseFloat(y.innerHTML))) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /*If no switching has been done AND the direction is "asc", set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
    </script>

    {% include "graficos.html" %}
{% endblock%}